<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Careers-Main-Image.webp"
      alt="Business Line image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Careers</h2>
        <h2 class="header-project-title">BUTEC Academy</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph">
      In the ever-evolving landscape of professional development, the BUTEC
      Academy stands as a testament to our commitment to excellence.
    </p>
    <p class="page-paragraph-desc margin-top-32 margin-bottom-12">
      Launched as a group-wide initiative, the academy aims to foster the
      continuous growth of our people, reinforcing the distinctive BUTEC way and
      culture. As we reflect on our journey, it becomes evident that the BUTEC
      Academy has become a cornerstone in our pursuit of knowledge and skills
      development. The BUTEC Academy was conceptualized with a clear vision,
      driven by several key objectives:
    </p>
    <div class="life-bullets-container">
      <ul class="yellow-bullets-ul page-paragraph-desc">
        <li>Leverage BUTEC knowledge and expertise to share the BUTEC way</li>
        <li>
          Upscale internal capacity and enhance both technical and behavioural
          competencies
        </li>
        <li>Optimise newcomers’ experience and reduce ramp-up period</li>
        <li>
          Increase employees’ efficiency on the job and/or when changing job
          roles
        </li>
        <li>Establish a solid foundation to support career progression</li>
      </ul>
    </div>
    <div class="life-img-container margin-top-64 margin-bottom-64 text-to-left">
      <img
        src="./assets/images/Careers-sub.webp"
        alt="Careers image"
        class="page-img img-fluid"
      />
    </div>
    <p class="page-paragraph-desc margin-bottom-64">
      To date, more than 30 technical training modules, covering a wide range of
      topics, have been meticulously developed internally by our Subject Matter
      Experts. These experts underwent comprehensive training and coaching
      sessions by our dedicated learning team, focusing on different
      methodologies for designing training content as well as delivering
      training sessions. The shared effort and commitment to success resulted in
      the creation of interactive, in-person, and virtual training programs that
      adhere to international learning standards. The commitment of our people,
      coupled with the continuous evolution of our learning methodologies,
      positions us for ongoing success. The BUTEC Academy is not just about
      training programs, it’s a transformative experience that empowers our
      workforce, propelling us toward greater heights of excellence. Together,
      we continue to build the blocks and shape the future of BUTEC, one skill
      at a time!
    </p>

    <div class="multi-gray-box-container container-to-center">
      <div class="multi-gray-box-content">
        <h6 class="multi-gray-box-title">
          <strong>Would you like to join our ranks?</strong>
        </h6>
        <div>
          <button class="yellow-browse-btn" (click)="GotoPostionsPage()">
            <strong class="gray-box-btn-text">BROWSE POSITIONS</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
