<section class="multi-header-container">
  <div class="header-img-container">
    <img
      src="{{ imageUrl }}{{ image }}"
      alt="Business Line image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div *ngIf="expertiseId == 7" class="header-icon-container">
      <img
        src="./assets/icons/engineering_contracting_red.svg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div *ngIf="expertiseId == 6" class="header-icon-container">
      <img
        src="./assets/icons/electro_mechincal_cerulean.svg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div *ngIf="expertiseId == 9" class="header-icon-container">
      <img
        src="./assets/icons/facility_services_teal.svg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div *ngIf="expertiseId == 12" class="header-icon-container">
      <img
        src="./assets/icons/new icon for Utility Services.jpg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div *ngIf="expertiseId == 7" class="header-titles-body red-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">{{ title }}</h2>
        <!--<h2 class="header-project-title">Engineering and<br />Contracting</h2>-->
        <img
          src="./assets/icons/engineering_contracting_red.svg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
    <div
      *ngIf="expertiseId == 6"
      class="header-titles-body cerulean-left-border"
    >
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">{{ title }}</h2>
        <!--<h2 class="header-project-title">Engineering and<br />Contracting</h2>-->
        <img
          src="./assets/icons/electro_mechincal_cerulean.svg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
    <div *ngIf="expertiseId == 9" class="header-titles-body teal-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">{{ title }}</h2>
        <!--<h2 class="header-project-title">Engineering and<br />Contracting</h2>-->
        <img
          src="./assets/icons/facility_services_teal.svg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
    <div *ngIf="expertiseId == 12" class="header-titles-body green-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">{{ title }}</h2>
        <!--<h2 class="header-project-title">Engineering and<br />Contracting</h2>-->
        <img
          src="./assets/icons/new icon for Utility Services.jpg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph shadow-paragraph">
      {{ paragraph1 }}
    </p>
    <p class="page-paragraph-desc margin-top-32 margin-bottom-64">
      {{ paragraph2 }}
    </p>
    <div class="text-to-left mini-box-container ml-0">
      <div class="container w-100 text-to-left margin-left-0">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">16+</h5>
            <p class="mini-box-text">megaprojects in 2023</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">$150M+</h5>
            <p class="mini-box-text">global turnover</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
        </div>
      </div>
    </div>
    <p class="page-paragraph-desc margin-top-64">
      {{ paragraph3 }}
    </p>
  </div>
</section>

<section class="other-container">
  <h2 class="other-title">Projects</h2>
  <div class="other-imgs-container">
    <div class="container">
      <div class="row">
        <div
          *ngFor="let project of expertiseProjects"
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <img
            *ngIf="expertiseId == 7"
            src="./assets/icons/engineering_contracting_white.svg"
            alt="Business Line icon"
            class="other-mini-icon red-background"
          />
          <img
            *ngIf="expertiseId == 6"
            src="./assets/icons/electro_mechincal_white.svg"
            alt="Business Line icon"
            class="other-mini-icon cerulean-background"
          />
          <img
            *ngIf="expertiseId == 9"
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="other-mini-icon teal-background"
          />
          <img
            *ngIf="expertiseId == 12"
            src="./assets/icons/new icon for Utility Services.jpg"
            alt="Business Line icon"
            class="other-mini-icon green-background"
          />
          <a (click)="GoToPage(project.EntityId)">
            <img
              src="{{ imageUrl }}{{ project.Image }}"
              alt="Business Line image"
              class="other-img"
          /></a>

          <div class="other-info-container">
            <h6 class="other-info-title">{{ project.Title }}</h6>
            <p class="other-info-text">{{ project.Location }}</p>
          </div>
        </div>
        <!--<div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <img
            *ngIf="expertiseId == 7"
            src="./assets/icons/engineering_contracting_white.svg"
            alt="Business Line icon"
            class="other-mini-icon red-background"
          />
          <img
            *ngIf="expertiseId == 6"
            src="./assets/icons/electro_mechincal_white.svg"
            alt="Business Line icon"
            class="other-mini-icon cerulean-background"
          />
          <img
            *ngIf="expertiseId == 9"
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="other-mini-icon teal-background"
          />
          <img
            *ngIf="expertiseId == 12"
            src="./assets/icons/new icon for Utility Services.jpg"
            alt="Business Line icon"
            class="other-mini-icon green-background"
          />
          <img
            src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
            alt="Business Line image"
            class="other-img"
          />

          <div class="other-info-container">
            <h6 class="other-info-title">Tripoli Sea Outfall</h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body"
        >
          <img
            *ngIf="expertiseId == 7"
            src="./assets/icons/engineering_contracting_white.svg"
            alt="Business Line icon"
            class="other-mini-icon red-background"
          />
          <img
            *ngIf="expertiseId == 6"
            src="./assets/icons/electro_mechincal_white.svg"
            alt="Business Line icon"
            class="other-mini-icon cerulean-background"
          />
          <img
            *ngIf="expertiseId == 9"
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="other-mini-icon teal-background"
          />
          <img
            *ngIf="expertiseId == 12"
            src="./assets/icons/new icon for Utility Services.jpg"
            alt="Business Line icon"
            class="other-mini-icon green-background"
          />
          <img
            src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
            alt="Business Line image"
            class="other-img"
          />

          <div class="other-info-container">
            <h6 class="other-info-title">
              Tripoli Waste Water Treatment Plant
            </h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="w-100 text-to-center">
    <button class="show-more-btn" [routerLink]="['/', 'List-Projects']">
      <strong class="show-more-text">Show more</strong>
    </button>
  </div>
</section>
