<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/leadership_Main.webp"
      alt="Leadership image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">About</h2>
        <h2 class="header-project-title">Leadership</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <div class="container move-left-10">
      <div class="row">
        <div
          class="col-12 col-s-12 col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 margin-bottom-64"
        >
          <h2 class="page-sub-title margin-bottom-32">
            Message of the Founder
          </h2>
          <p class="leader-msg founder-msg-body">
            BUTEC, established over 50 years ago, has overcome challenges such
            as Lebanon’s civil war and current regional turmoil. Passing the
            leadership to Chairman Ziad Younes, I am confident in the company’s
            continued success. My focus now turns to Lebanon’s societal unity
            and the pursuit of a democratic civil state. Despite the difficulty
            of leaving my cherished career, I am compelled to contribute to
            national issues. I encourage your commitment to values and ethics,
            emphasising the significance of your achievements in Lebanon’s
            struggle. I remain devoted to your endeavours and the vision of an
            “Other Lebanon.” <br />Dr. Nizar Younes
            <span class="leader-sign"><br />Founder</span>
          </p>
        </div>

        <div
          class="col-12 col-s-12 col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 leader-img-container"
        >
          <img
            src="./assets/images/FounderImage.webp"
            alt="Founder image"
            class="leader-img"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
        >
          <h2 class="page-sub-title margin-bottom-32">
            Message of the Chairman
          </h2>
          <p class="leader-msg chairman-msg-body">
            BUTEC, or “Bureau Technique d’Etudes et de Construction,” began as
            an innovative EPC contractor over 50 years ago. The company values
            the potential of its workforce, emphasizing innovation and
            improvement. Committed to fulfilling contractual obligations
            globally, BUTEC combines the cost structure of a local contractor
            with the technical expertise of an international one. Despite its
            growth, the company has preserved a family- oriented culture. As
            chairman since 2015, I am proud of our achievements and look forward
            to the next phase of growth. In these uncertain times, preserving
            BUTEC’s tradition of dynamic yet careful movement is crucial for
            continued success. I rely on each team member to contribute to the
            exciting journey ahead. <br />Ziad Younes
            <span class="leader-sign"><br />Chairman</span>
          </p>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 leader-img-container"
        >
          <img
            src="./assets/images/ChairmanImage.webp"
            alt="Chairman image"
            class="leader-img"
          />
        </div>
      </div>
    </div>
    <div class="multi-items-container">
      <div class="map-title-container">
        <h2 class="our-commitments">Governing Team</h2>
      </div>
      <div class="map-container">
        <img
          src="./assets/images/GoverningTeam-Map.svg"
          alt="Governing team map image"
          class="govering-team-map img-fluid"
        />
      </div>
    </div>
    <div class="multi-items-container">
      <div class="map-title-container">
        <h2 class="our-commitments">Our Commitments</h2>
      </div>
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">Integrated Management System</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        BUTEC’s Integrated Management System (IMS) consolidates
                        quality, environment, and occupational health and safety
                        management systems, streamlining processes for increased
                        efficiency. The IMS guides the company’s activities,
                        ensuring the necessary procedures and documentation
                        align with BUTEC’s certifications in Quality,
                        Environment, and Occupational Health and Safety.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">
                  Quality, Health, Safety, Environment
                </h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        BUTEC attributes its success and growth to a strong
                        emphasis on quality in all activities. The company is
                        dedicated to environmental protection on project sites
                        and prioritizes workforce health and safety by
                        consistently allocating resources to mitigate risks.
                        Despite diverse project requirements, BUTEC adapts
                        effectively, as seen in its numerous certifications.
                        These achievements align with sustainable growth
                        practices.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">Diversity</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        BUTEC fosters a growth-oriented, inclusive work
                        environment that promotes personal and career success.
                        Diversity is a central corporate initiative, emphasizing
                        recruitment and retention from diverse cultures and
                        backgrounds. We value and nurture our people, ensuring
                        equal opportunities, dignity, and respect for all.
                        BUTEC’s focus on diversity shapes a culture where
                        employees are inspired to share their passion and ideas,
                        contributing to success in our industry.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">Sustainability</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        BUTEC frequently monitors its processes and operations
                        in order to ensure that we are always adhering to
                        health, safety, environmental, and quality standards as
                        well as regulatory changes. We believe in following
                        sustainable business practices by setting high health
                        and safety standards, improving the environment, and
                        achieving high client satisfaction while operating in
                        accordance with the acquired ISO standards.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
