<footer class="footer-container">
  <div class="footer-content">
    <div class="container footer-links">
      <div class="row">
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="footer-title">Area of Expertise</h6>
          <ul class="mt-2">
            <!--<li
              class="footer-subtitle"
              (click)="GoToPage('Engineering and Contracting')"
            >
              Engineering & Contracting
            </li>-->
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Engineering-Contracting']"
            >
              Engineering & Contracting
            </li>
            <!--<li
              class="footer-subtitle"
              (click)="GoToPage('Electro-Mechanical Solutions')"
            >
              Electro-Mechanical Solutions
            </li>-->
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Electro-Mechanical']"
            >
              Electro-Mechanical Solutions
            </li>
            <!--<li class="footer-subtitle" (click)="GoToPage('Facility Services')">
              Facility Services
            </li>-->

            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Facility-Services']"
            >
              Facility Services
            </li>
            <!--<li class="footer-subtitle" (click)="GoToPage('Utility Services')">
              Utility Services
            </li>-->
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Utility-Services']"
            >
              Utility Services
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
              Projects
            </li>
          </ul>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="footer-title">Company</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
              Leadership
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Story']">
              The Story
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
              Why Choose Us
            </li>
            <li class="footer-subtitle">ESG</li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
              News
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
              Contact
            </li>
          </ul>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="footer-title">Careers</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
              Life at BUTEC
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Positions']">
              Open Positions
            </li>
          </ul>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="footer-title">Privacy</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Policy']">
              Privacy Policy
            </li>
            <li class="footer-subtitle">Cookie Policy</li>
            <li class="footer-subtitle">Terms and Conditions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3 footer-icons">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
          >
          <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
          ><img
            src="./assets/icons/social-linkedin.svg"
            alt="Home image"
            class="footer-social-media"
        /></a>
        <a href="https://twitter.com/butecsal" target="_blank">
          <img
            src="./assets/icons/social-twitter.svg"
            alt="Home image"
            class="footer-social-media"
        /></a>
        <a href="https://www.facebook.com/BUTECsal"target="_blank"
          ><img
            src="./assets/icons/social-facebook.svg"
            alt="Home image"
            class="footer-social-media"
        /></a>
        <a href="https://www.instagram.com/butecgroup/"target="_blank"
          ><img
            src="./assets/icons/social-instagram.svg"
            alt="Home image"
            class="footer-social-media"
        /></a>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
          >
            <span class="rights">© 2024 BUTEC. All rights reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
