<section class="multi-header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Facility Services Banner.webp"
      alt="Business Line image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-icon-container">
      <img
        src="./assets/icons/facility_services_teal.svg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div class="header-titles-body cerulean-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">Facility Services</h2>
        <img
          src="./assets/icons/facility_services_teal.svg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph shadow-paragraph">
      We don't just manage facilities, we curate solutions tailored to the needs
      of our diverse clients. As a premier full-service facilities solutions
      provider, our services span from overseeing entire facilities from
      inception to maintenance to meticulously handling specific sections with
      precision. Think of us as experts, dedicated to getting the job done with
      a smile.
    </p>
    <p class="page-paragraph-desc margin-top-32 margin-bottom-64">
      Our team excels in managing operational activities within facilities,
      encompassing maintenance, security, and space management. While we
      prioritize the end product, we also dive into the details as well,
      skillfully managing low-current systems like fire alarms, security systems
      (complete with access control and intrusion detection), and electrical
      setups to fortify a facility's security.
    </p>
    <div class="text-to-left mini-box-container ml-0">
      <div class="container w-100 text-to-left margin-left-0">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">16+</h5>
            <p class="mini-box-text">megaprojects in 2023</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">$150M+</h5>
            <p class="mini-box-text">global turnover</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
        </div>
      </div>
    </div>
    <p class="page-paragraph-desc margin-top-64">
      When it comes to Heating, Ventilation, and Air Conditioning (HVAC)
      systems, we're not just optimizing, we're reducing energy waste,
      amplifying efficiency, and elevating air quality and temperature control.
      Our goal is to provide a breath of fresh air while being eco-conscious and
      prioritizing our customers' well-being. In terms of Building Management
      Systems (BMS), we're experts at it – from control rooms monitoring
      distinct building functions to executing technical tasks with finesse. We
      extend beyond cleaning, pest-controlling, and landscaping, by ensuring
      environmental consciousness and adhering to crucial health and safety
      measures. We ensure the power stays on too. Consider us the custodians of
      uninterrupted power supply, managing UPSs (Uninterruptible Power Supplies)
      and generators with precision. The same level of precision is applied to
      fire services, from managing and maintaining fire detection systems to
      handling firefighting equipment and implementing fire safety protocols.
      We're here to prevent as well as manage fire hazards, ensuring the health
      and safety of our customers. Our commitment goes beyond managing spaces,
      it's about creating environments where satisfaction is guaranteed, and our
      customers' well-being is prioritized. Through our facility management,
      we're creating efficient, secure, and environmentally conscious
      experiences with our customers in mind.
    </p>
  </div>
</section>

<section class="other-container">
  <h2 class="other-title">Projects</h2>
  <div class="other-imgs-container">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="other-mini-icon teal-background"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">Sharjah Waste To Energy Plant</h6>
            <p class="other-info-text">UAE</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="other-mini-icon teal-background"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">Tripoli Sea Outfall</h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="other-mini-icon teal-background"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">
              Tripoli Waste Water Treatment Plant
            </h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yellow-border-btn-container">
    <button class="yellow-border-btn" [routerLink]="['/', 'List-Projects']">
      <strong class="yellow-border-btn-text">SHOW MORE</strong>
    </button>
  </div>
</section>
