<section style="margin-right: 30px; margin-bottom: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-12 col-lg-5 col-s-12 col-sm-12 col-xl-5">
        <h1 class="projects-page-title text-nowrap">Projects</h1>
      </div>
      <div class="col-md-12 col-lg-7 col-s-12 col-sm-12 col-xl-7">
        <p class="projects-page-text">
          Discover our diverse portfolio of projects, showcasing engineering
          excellence and innovative solutions driving industry standards
          forward.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="gray-filter-container">
  <div class="container container-to-center">
    <div class="row gray-filter-box">
      <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h6 class="gray-filter-title">Filter by</h6>
      </div>
      <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h6 class="gray-filter-subtitle">Expertise</h6>
      </div>
      <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h6 class="gray-filter-subtitle1">Sector</h6>
      </div>
      <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h6 class="gray-filter-subtitle2">Location</h6>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="container">
    <div class="row">
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />

          <img
            src="./assets/images/Lusail Marina District Cooling Plant - Qatar.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <h6 class="projects-title text-nowrap">
          Lusail Marina District Cooling Plant
        </h6>
        <br />
        <span class="projects-sub-text">Qatar</span>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-6 col-sm-6 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Queen Alia International Airport - Jordan.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">
            Queen Alia International Airport
          </h6>
          <br />
          <span class="projects-sub-text">Jordan</span>
        </div>
      </div>

      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Tripoli Wastewater Treatment Plant - Lebanon.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">
            Tripoli Wastewater Treatment Plant
          </h6>
          <br />
          <span class="projects-sub-text">Lebanon</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Djelfa, Mecheria, Mostaganem Wastewater Treatment Plants - Algeria.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">
            Djelfa, Mecheria, Mostaganem Wastewater Treatment Plants
          </h6>
          <br />
          <span class="projects-sub-text">Algeria</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Sharjah Waste To Energy Project - UAE.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">
            Sharjah Waste To Energy Project
          </h6>
          <br />
          <span class="projects-sub-text">UAE</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Taweelah Aluminium Extrusion Plant - UAE.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">
            Taweelah Aluminium Extrusion Plant
          </h6>
          <br />
          <span class="projects-sub-text">UAE</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Total - Cote D'Ivoire.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">Total</h6>
          <br />
          <span class="projects-sub-text">Cote D'Ivoire</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Kusile - South Africa.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">Kusile</h6>
          <br />
          <span class="projects-sub-text">South Africa</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Umm Qasr Power Plant - Iraq.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">Umm Qasr Power Plant</h6>
          <br />
          <span class="projects-sub-text">Iraq</span>
        </div>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
      >
        <a (click)="GoToProjectDetailsPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background"
          />
          <img
            src="./assets/images/Anec Niger - Cote D'Ivoire.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
        </a>
        <div>
          <h6 class="projects-title text-nowrap">Anec Niger</h6>
          <br />
          <span class="projects-sub-text">Cote D'Ivoire</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-to-center w-100">
    <button class="show-more-btn">
      <strong class="show-more-text">SHOW MORE</strong>
    </button>
  </div> -->
  <!--<div style="
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
"
>
      <button class="show-more-proj-btn">Show more</button></div>
  </div>-->
</section>
