<section class="multi-header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Utility Services Banner (1).webp"
      alt="Business Line image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-icon-container">
      <img
        src="./assets/icons/new icon for Utility Services.jpg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div class="header-titles-body green-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">Utility Services</h2>
        <img
          src="./assets/icons/new icon for Utility Services.jpg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph shadow-paragraph">
      Welcome to our Utility Services, where efficiency and reliability are our
      cornerstones. We specialize in delivering distribution solutions that
      cater to both the operational and strategic needs of our valued clients.
      From managing assets to keeping operations smooth, from planning and
      design to Construction of Distribution Networks and implementing smart
      metering infrastructure – we've got you covered.
    </p>
    <p class="page-paragraph-desc margin-top-32 margin-bottom-64">
      Behind our success stands a team of skilled engineers and technicians,
      dedicated to ensuring a dependable power supply and safe access to potable
      water, free from any disruptions. With us, you can trust that your utility
      needs are in capable hands.
    </p>
    <div class="text-to-left mini-box-container ml-0">
      <div class="container w-100 text-to-left margin-left-0">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">16+</h5>
            <p class="mini-box-text">megaprojects in 2023</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">$150M+</h5>
            <p class="mini-box-text">global turnover</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
        </div>
      </div>
    </div>
    <p class="page-paragraph-desc margin-top-64">
      Our mission revolves around enhancing the performance of electrical and
      water distribution networks. To accomplish this goal, we employ a variety
      of approaches. From Condition Based Maintenance to Leakage Detection,
      Pressure Management, and Sectorization studies, each strategy is
      meticulously crafted. By delving into comprehensive data analysis, we
      launch campaigns targeted at curbing Non-Technical Losses. Through these
      concerted efforts, we uphold impeccable standards and deliver substantial
      value to both our clients and customers. We believe in taking a proactive
      approach to problem-solving, prioritizing prevention over fixes. Through
      Key Performance Indicators (KPIs), we benchmark our performance against
      industry standards, align activities with strategic goals, and identify
      trends, risks, and areas for improvement. This continuous monitoring
      ensures a successful and sustainable long-term relationship with our
      clients. In the rhythm of our daily operations, Customer Services, Meter
      Readings, and Bill Collection Services stand as pillars in both the
      electrical and water sectors. They play a vital role in ensuring accuracy,
      financial stability, and transparency into the essence of our work. With a
      firm dedication to these fundamental tasks, we not only ensure customer
      satisfaction but also maintain regulatory standards and base our decisions
      on robust data. Yet, our commitment doesn't stop there. We thrive on swift
      and effective responses. Thanks to our Call Center's automated reporting
      system, we swiftly and seamlessly address customer inquiries, concerns,
      and requests. This prompt responsiveness serves as a direct pathway to
      customer satisfaction, showcasing our promise to excel in utility service
      delivery.
    </p>
  </div>
</section>

<section class="other-container">
  <h2 class="other-title">Projects</h2>
  <div class="other-imgs-container">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/new icon for Utility Services.jpg"
              alt="Business Line icon"
              class="other-mini-icon green-background"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>

          <div class="other-info-container">
            <h6 class="other-info-title">Sharjah Waste To Energy Plant</h6>
            <p class="other-info-text">UAE</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/new icon for Utility Services.jpg"
              alt="Business Line icon"
              class="other-mini-icon green-background"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">Tripoli Sea Outfall</h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/new icon for Utility Services.jpg"
              alt="Business Line icon"
              class="other-mini-icon green-background"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">
              Tripoli Waste Water Treatment Plant
            </h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yellow-border-btn-container">
    <button class="yellow-border-btn" [routerLink]="['/', 'List-Projects']">
      <strong class="yellow-border-btn-text">SHOW MORE</strong>
    </button>
  </div>
</section>
