<section class="multi-header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Electro Mechanical Banner.webp"
      alt="Business Line image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-icon-container">
      <img
        src="./assets/icons/electro_mechincal_cerulean.svg"
        alt="Business Line icon"
        class="header-icon"
      />
    </div>
    <div class="header-titles-body cerulean-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Business Lines</h2>
        <h2 class="header-project-title">Electro-Mechanical<br />Solutions</h2>
        <img
          src="./assets/icons/electro_mechincal_cerulean.svg"
          alt="Business Line icon"
          class="header-icon-media"
        />
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph shadow-paragraph">
      BUTEC deepened its existing specialization in the Electro-Mechanical field
      by acquiring a group of dedicated companies within this domain. Our
      narrative is one of passion, embracing a diverse range of activities in
      this specialty, and offering bespoke solutions to address
      Electro-Mechanical complex challenges while optimizing your business
      operations.
    </p>
    <p class="page-paragraph-desc margin-top-32 margin-bottom-64">
      In the domain of Telecommunications, particularly Fiber to the Home
      (FTTH), we stand out in ensuring seamless fiber-optic cable connections
      for both residential and commercial properties.
    </p>
    <div class="text-to-left mini-box-container ml-0">
      <div class="container w-100 text-to-left margin-left-0">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">16+</h5>
            <p class="mini-box-text">megaprojects in 2023</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">$150M+</h5>
            <p class="mini-box-text">global turnover</p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-to-center mini-box"
          >
            <h5 class="mini-box-title">Lorem</h5>
            <p class="mini-box-text">ipsum dolors sit met</p>
          </div>
        </div>
      </div>
    </div>
    <p class="page-paragraph-desc margin-top-64">
      Navigating the intricate landscape of High-Voltage Electrical Networks,
      CFO applications, and Electrical and Instrumentation projects (E&I), we
      prioritize precision in our installations, thorough testing,
      commissioning, and preparedness for emergency repairs. Delving into
      Low-Voltage Systems (CFA), such as firefighting and fire alarms,
      audiovisual setups, and access control systems, our specialization
      encompasses not just installation but also testing, maintenance, and
      emergency repairs, ensuring the safety of your premises. In the domain of
      Industrial Automation, we specialize in integrating control systems,
      robotics, and machinery for enhanced industrial efficiency. Our UPS
      systems ensure an uninterrupted and secure power supply during electrical
      outages, preventing productivity loss, data corruption, or equipment
      damage. Within Heating, Ventilation, and Air Conditioning (HVAC), we excel
      by providing tailored solutions for complex centers or state-of-the-art
      data centers. At the core of it all is our consultative approach that goes
      beyond each facet of our offerings, ensuring you make informed decisions
      tailored to your specific needs. With BUTEC, your journey through the
      world of Electro-Mechanical Solutions is not just a partnership - it's a
      narrative crafted to elevate your success.
    </p>
  </div>
</section>

<section class="other-container">
  <h2 class="other-title">Projects</h2>
  <div class="other-imgs-container">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="other-mini-icon cerulean-background"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>

          <div class="other-info-container">
            <h6 class="other-info-title">Sharjah Waste To Energy Plant</h6>
            <p class="other-info-text">UAE</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body other-img-space"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="other-mini-icon cerulean-background"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">Tripoli Sea Outfall</h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-img-body"
        >
          <a (click)="GoToProjectDetailsPage()">
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="other-mini-icon cerulean-background"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-img"
            />
          </a>
          <div class="other-info-container">
            <h6 class="other-info-title">
              Tripoli Waste Water Treatment Plant
            </h6>
            <p class="other-info-text">Lebanon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yellow-border-btn-container">
    <button class="yellow-border-btn" [routerLink]="['/', 'List-Projects']">
      <strong class="yellow-border-btn-text">SHOW MORE</strong>
    </button>
  </div>
</section>
