<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Life-11.webp"
      alt="Careers Main image"
      class="header-img img-fluid"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">Careers</h2>
        <h2 class="header-project-title">Life at BUTEC</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph margin-top-64 margin-bottom-64">
      Discover the essence of corporate life at BUTEC, where a commitment to
      excellence, innovation, and professional development defines our workplace
      culture. Join us as we embody a corporate ethos that fosters growth,
      diversity, and collaborative success.
    </p>
    <h6 class="page-sub-title margin-bottom-32">Our people</h6>
    <p class="page-paragraph-desc margin-bottom-32">
      BUTEC boasts a workforce of 4,200 employees, including 370 highly
      qualified engineers and administrators. Our corporate culture, founded on
      mutual loyalty, is nurtured by management, fostering a genuine team
      spirit. This cohesion enables effective resolution of challenges in
      project execution, with accumulated experience invested in future
      endeavors. Our engineers, graduates of reputable universities, cover
      various disciplines, bringing extensive on-site experience and staying
      abreast of industry advancements through in-house initiatives and frequent
      training opportunities abroad.
    </p>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Diversity and inclusion</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              Embracing diversity is integral to our ethos at BUTEC. We foster
              an inclusive workforce that celebrates various cultures and
              beliefs, recognizing that diversity fuels creativity, enriches our
              work environment, and drives greater achievements.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Corporate culture</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              From day one, we immerse newcomers in our culture and core values,
              instilling a commitment to excellence. Our focus on career
              development includes providing challenging opportunities,
              exposure, and the tools needed for continuous learning. Investing
              in our people’s development is the essence of our success.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Career development</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-lg-7"
          >
            <p class="gray-box-text">
              In line with our commitment to excellence, BUTEC invests in human
              capital, providing the essential tools to optimize learning and
              growth. Our employees benefit from challenging opportunities and
              exposure, expanding their knowledge and enhancing expertise. We
              firmly believe that investing in people’s development is the
              essence of our success.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-img-container margin-bottom-64">
      <img
        src="./assets/images/Life-sub1.webp"
        alt="Business Line image"
        class="page-img img-fluid"
      />
    </div>
    <div class="margin-bottom-32">
      <h2 class="page-sub-title">Our employee value proposition</h2>
    </div>
    <div class="margin-bottom-32">
      <p class="page-paragraph-desc">
        Building a career at BUTEC starts with an open mindset, flexibility, and
        resilience. Every employee is a pioneer, exploring new work territories
        with top clients. We thrive on growth, evolve careers, and foster a
        friendly atmosphere where every voice is heard and valued.
      </p>
    </div>

    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Dynamism</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              In a corporate world, BUTEC is a family where every employee is
              valued, every voice is heard, and every door remains open.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Friendly atmosphere</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              We embrace versatility, navigate different markets, and live for
              the love of new challenges, always rekindling our passion to
              learn.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="multi-gray-box-title">Exposure and opportunities</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="multi-gray-box-text">
              We embrace versatility, navigate different markets, and live for
              the love of new challenges, always rekindling our passion to
              learn.
            </p>
            <div>
              <button
                class="life-more-btn"
                [routerLink]="['/', 'Butec-Academy']"
              >
                <span class="life-more-btn-text"
                  ><strong
                    >More about the BUTEC Academy<img
                      src="./assets/icons/ic-arrow-on.svg"
                      alt="join image"
                      class="ic_arrow details-to-left" /></strong
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-img-container margin-bottom-64">
      <img
        src="./assets/images/Life-sub2.webp"
        alt="Business Line image"
        class="page-img img-fluid"
      />
    </div>

    <div class="margin-bottom-32">
      <h2 class="page-sub-title margin-bottom-32">Our hiring process</h2>
      <p class="page-paragraph-desc">
        BUTEC seeks talented individuals with great potential to contribute to
        our dynamic team.
      </p>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">Equal Employment<br />Opportunity</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-5"
          >
            <p class="gray-box-text">
              Dedicated to equality, BUTEC provides opportunities based on
              merit, qualifications, and abilities, regardless of race, color,
              gender, age, religion, nationality, disability, or marital status.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-to-left"
          >
            <p class="gray-box-title life-box-title-space life-text-format">
              Career fields
            </p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <div class="container">
              <div class="row">
                <div
                  class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                >
                  <ul class="gray-box-text yellow-bullets-ul">
                    <li class="text-nowrap">Business Development</li>
                    <li>Engineering</li>
                    <li>Adminstration</li>
                    <li>Tendering</li>
                    <li class="text-nowrap">Planning and Cost Control</li>
                    <li class="text-nowrap">Contracts Mangement</li>
                    <li class="text-nowrap">Project Management</li>
                  </ul>
                </div>
                <div
                  class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                >
                  <ul class="gray-box-text yellow-bullets-ul">
                    <li class="text-nowrap">Quality Assurance</li>
                    <li class="text-nowrap">Saftey and Environment</li>
                    <li class="text-nowrap">Human Resources</li>
                    <li class="text-nowrap">Information Technology</li>
                    <li class="text-nowrap">Finance and Accounting</li>
                    <li class="text-nowrap">Internal Audit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-gray-box-container">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="multi-gray-box-title">How to apply</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="multi-gray-box-text">
              Interested candidates can fill out an application form and attach
              their CV at any time. Data will be incorporated into our database
              in line with our Privacy Policy. CVs matching the role profile
              will be selected, and candidates will be contacted by our
              recruitment team.
            </p>
            <div>
              <button class="life-more-btn" [routerLink]="['/', 'Positions']">
                <span class="life-more-btn-text"
                  ><strong
                    >Check open positions<img
                      src="./assets/icons/ic-arrow-on.svg"
                      alt="join image"
                      class="ic_arrow details-to-left" /></strong
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
